@tailwind base;
@tailwind components;
@tailwind utilities;

.o-container{
  @screen md{
      max-width:720px;
  }

  @screen lg{
      max-width:960px;
  }

  @screen exlg{
      max-width:1140px;
  }
}